body {
    background-image: url("maths.jpg");
    font-family: 'Macondo', cursive;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}

button {
    border-radius: 5px;
    color: purple;
    margin: 10px;
}
form {
    color: purple;
}
input {
    margin: 10px;
}
h1 {
    color: purple;
}
.content {
    background-color: #DD5555;
    border: 10px solid purple;
    border-radius: 20px;
    margin-top: 50px;
    padding: 10px 10px 20px 10px;
    text-align: center;
}


@media (max-width : 768px) {
    .content {
        margin: 20px;    
    }
    
    
}

